<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prosent Bank</title>
</head>
<body>
    <header>
        <h1>Welcome to Prosent!</h1>
        <p>How can we help with your money?</p>
        <a href="{ % url '' % }"></a>
    </header>
    <main>
        <p>This is the main page of the bank's website.</p>
        <a href="{% url 'deposit' %}">Deposit</a>
        <a href="{% url 'withdraw' %}">Withdraw</a>

        <p>Login: <a href="{% url 'login' %}">login</a>
        </p>
        <p>Register: <a href="{% url 'register' %}">register</a></p>

    </main>
    <footer>
        <p>&copy; 2024 Prosent Bank. All rights reserved.</p>
    </footer>
</body>
</html>
